<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="buluvo.css">
    <title>buluvo</title>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar">
            <img class="logo" src="logo.png">

            <ul>
                <li><a class="active" href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Feedback</a></li>
            </ul>
            <div class="center">
                <h1>Welcome to the Buluvo films</h1>
                <h2>Who is Buluvo:</h2>
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum cumque, eum rem deleniti suscipit magni illum, ad blanditiis delectus voluptates eveniet aperiam, animi minus vero quidem labore facere maxime officiis?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda qui sed aut temporibus, dolores consectetur aliquam nihil animi quaerat repellendus explicabo iusto, voluptates deleniti, iure eligendi at mollitia. Omnis, officiis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam rerum asperiores nemo nostrum. Ex iste quas non ratione placeat eveniet at deserunt! Ratione voluptatibus a ex labore provident tempore sunt.
                <div class="buttons">
                    <button>Explore More</button>
                    <button class="btn">Subcribe Us</button>

                </div>
            </div>
        </nav>
    </div>
</body>

</html>